.container {
  width: 15.5rem;
  margin: 0 auto;
}
.slideshow {
  width: 100%;
  height: 6.25rem;
  position: relative;
  overflow: hidden;
}
.slideshow .aside {
  width: 3.125rem;
  height: 6.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.slideshow .aside li {
  width: 100%;
  height: 0.625rem;
  line-height: 0.625rem;
  padding-left: 0.5rem;
}
.slideshow .aside li a {
  color: white;
  font-size: 0.175rem;
  margin-left: 0.05rem;
}
.slideshow .aside li a:first-child {
  font-size: 0.2rem;
}
.slideshow .aside li .aside_hide {
  width: 12.375rem;
  height: 6.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 3.125rem;
  display: none;
}
.slideshow .aside li .aside_hide .title {
  width: 12rem;
  height: 1rem;
  line-height: 1rem;
}
.slideshow .aside li .aside_hide .title span {
  font-size: 20px;
  margin-right: 0.125rem;
}
.slideshow .aside li .aside_hide .title i {
  font-size: 16px;
  color: #aaa;
}
.slideshow .aside li .aside_hide .shop_box {
  width: 100%;
  height: 5.25rem;
}
.slideshow .aside li .aside_hide .shop_box ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}
.slideshow .aside li .aside_hide .shop_box ul li {
  width: 3.75rem;
  height: 1.5rem;
  background-color: whitesmoke;
  padding: 0;
}
.slideshow .aside li .aside_hide .shop_box ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.125rem;
}
.slideshow .aside li .aside_hide .shop_box ul li a img {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: #eee;
  margin-right: 0.125rem;
}
.slideshow .aside li .aside_hide .shop_box ul li a .text {
  width: 2.25rem;
  height: 1.25rem;
}
.slideshow .aside li .aside_hide .shop_box ul li a .text p {
  height: 0.375rem;
  line-height: 0.375rem;
  font-size: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.slideshow .aside li .aside_hide .shop_box ul li a .text p:nth-child(2) {
  font-size: 0.2rem;
  color: #aaa;
}
.slideshow .aside li .aside_hide .shop_box ul li a .text p:nth-child(3) {
  font-size: 0.25rem;
  color: #be1b1b;
}
.slideshow .aside li:hover {
  background-color: aqua;
}
.slideshow .aside li:hover > .aside_hide {
  display: block;
}
.slideshow .slideshow-ul {
  width: 600%;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
.slideshow .slideshow-ul li {
  width: 15.5rem;
  height: 100%;
}
.slideshow .slideshow-ul li img {
  display: block;
}
.slideshow .btn-left {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.375rem;
  position: absolute;
  top: 50%;
  left: 3.125rem;
  margin-top: -0.25rem;
  cursor: pointer;
  display: none;
}
.slideshow .btn-right {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.375rem;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.25rem;
  cursor: pointer;
  display: none;
}
.slideshow .cirlce {
  height: 0.625rem;
  position: absolute;
  bottom: 0.125rem;
  left: 50%;
  display: flex;
}
.slideshow .cirlce li {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  background-color: rgba(143, 138, 138, 0.5);
  margin-right: 0.25rem;
  cursor: pointer;
}
.slideshow .cirlce .back {
  background-color: white;
}
.title-1 {
  width: 100%;
  height: 0.4375rem;
  line-height: 0.4375rem;
  margin: 0.375rem 0;
  font-size: 0.4rem;
  display: flex;
}
.title-1 .title-1-1 {
  width: 12.8rem;
  height: 100%;
  padding-left: 0.25rem;
  font-size: 0.2rem;
  color: #aaa;
}
.title-1 .title-1-2 {
  width: 1.025rem;
  height: 0.375rem;
  font-size: 0.2rem;
  color: #aaa;
  display: flex;
}
.good-shop {
  width: 100%;
  height: 5.075rem;
  display: flex;
  justify-content: space-between;
}
.good-shop .good-shop-box {
  width: 3.825rem;
  height: 100%;
  background-color: #eee;
}
.good-shop .good-shop-box img {
  width: 3.825rem;
  height: 3.825rem;
}
.good-shop .good-shop-box p {
  width: 3.45rem;
  height: 0.535rem;
  margin: 0 auto;
  padding-top: 0.15rem;
  text-align: center;
  font-size: 0.275rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.good-shop .good-shop-box p:nth-child(3) {
  color: #aa0e0e;
}
.good-shop .good-shop-box .p_title:nth-child(3) {
  color: #aaa;
  font-size: 0.2125rem;
}
.good-shop .good-shop-box:hover {
  transform: translateY(-0.0625rem);
  box-shadow: 0.0125rem 0.0125rem 0.0875rem #aaa;
}
@keyframes remove {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15.5rem);
  }
}
.brand {
  width: 100%;
  height: 3.825rem;
  display: flex;
  overflow: hidden;
}
.brand .brand-box {
  width: 100%;
  height: 3.825rem;
  display: flex;
  justify-content: space-between;
  animation: remove 5s infinite  ;
}
.brand .brand-box li {
  width: 3.1rem;
  height: 100%;
  padding: 0 0.0625rem;
}
.brand .brand-box li img {
  width: 3rem;
  height: 100%;
}
.brand .brand-box li:nth-child(1) {
  padding-left: 0;
}
.brand .brand-box li:nth-child(5) {
  padding-right: 0;
}
.brand .brand-box:hover {
  animation: paused;
}
.home {
  width: 100%;
  height: 9.0625rem;
}
.home .home-nav {
  width: 100%;
  height: 1.4375rem;
  display: flex;
  align-items: center;
  font-family: 宋体;
}
.home .home-nav .home-title {
  width: 9rem;
  height: 0.4375rem;
  line-height: 0.4375rem;
  font-size: 0.4rem;
}
.home .home-nav .home-list {
  flex: 1;
  height: 0.4375rem;
  line-height: 0.4375rem;
  display: flex;
  justify-content: space-between;
}
.home .home-nav .home-list li {
  width: 1.875rem;
  height: 0.4375rem;
  text-align: center;
  font-size: 0.2rem;
}
.home .home-nav .home-list li:last-child {
  text-align: right;
}
.home .home-nav .home-list li:last-child a {
  color: #aaa;
}
.home .home-box {
  width: 100%;
  height: 7.625rem;
  display: flex;
}
.home .home-box .home-box-left {
  width: 3rem;
  height: 100%;
}
.home .home-box .home-box-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .home-box .home-box-right {
  flex: 1;
  height: 7.625rem;
  display: flex;
}
.home .home-box .home-box-right .home-ul {
  width: 100%;
  height: 7.625rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.0625rem;
}
.home .home-box .home-box-right .home-ul li {
  width: 3rem;
  height: 3.75rem;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
  position: relative;
}
.home .home-box .home-box-right .home-ul li img {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0.125rem auto;
}
.home .home-box .home-box-right .home-ul li p {
  width: 2rem;
  margin: 0.125rem auto;
  font-size: 0.2rem;
}
.home .home-box .home-box-right .home-ul li .itme-1 {
  height: 0.55rem;
}
.home .home-box .home-box-right .home-ul li .itme-2 {
  height: 22px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home .home-box .home-box-right .home-ul li .itme-3 {
  height: 0.275rem;
  color: #b30909;
  font-size: 0.25rem;
}
.home .home-box .home-box-right .home-ul li .home-hide {
  width: 100%;
  height: 0;
  background-color: #27ba9b;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 1s;
  overflow: hidden;
}
.home .home-box .home-box-right .home-ul li .home-hide .itme-4 {
  color: white;
  height: 0.375rem;
  line-height: 0.375rem;
  text-align: center;
  font-size: 0.25rem;
}
.home .home-box .home-box-right .home-ul li .home-hide .itme-5 {
  width: 1rem;
  margin: 0 auto;
}
.home .home-box .home-box-right .home-ul li .home-hide .itme-6 {
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.2rem;
  text-align: center;
  color: white;
}
.home .home-box .home-box-right .home-ul li:hover {
  border: 0.025rem #27ba9b solid;
}
.home .home-box .home-box-right .home-ul li:hover > .home-hide {
  height: 1.075rem;
}
.home .home-box .home-box-right .home-ul li:nth-child(4),
.home .home-box .home-box-right .home-ul li:nth-child(8) {
  margin-right: 0;
}
